/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    background: #fc8019;
    color: white;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

/* Search Section */
.search-box {
    text-align: center;
    padding: 60px 20px;
    background: #fff5eb;
}

.search-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.search-box input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #fc8019;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background: #e46d0e;
}

/* Restaurants */
.restaurants {
    padding: 40px;
}

.restaurants h2 {
    margin-bottom: 20px;
}

.cards {
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Card */
.card {
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3,
.card p {
    padding: 8px 12px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
