body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:green;
    text-align: center;
    margin; 20px
}
h1{
color: blueviolet;
margin-bottom: 30px;
}

img{
    height: 500px;
    width: 400px;
    border: 3px solid black
}
product-box{
    background-color: green;
    width: 500px;
    margin: 0;
}